.recommendedLabel {
    background: green;
    padding: 5px;
    font-size: 14px;
    color: white;
    position: absolute;
    top: -43px;
    border-radius: 11px 11px 0px 0px;
    width: 133px;
    left: -13px;
}

.selectedLabel {
    background: #3754ed;
    padding: 5px;
    z-index: 4;
    font-size: 14px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: -43px;
    border-radius: 11px 11px 0px 0px;
    width: 133px;
    left: -13px;
}

.selectedBackground {
    background: #f2f2f5;
}